<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Content" data-toc-modified-id="Content-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Content</a></span></li><li><span><a href="#Dataset-global" data-toc-modified-id="Dataset-global-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Dataset global</a></span></li><li><span><a href="#Les-ingredients" data-toc-modified-id="Les-ingredients-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Les ingredients</a></span><ul class="toc-item"><li><span><a href="#Ingredient-popularities" data-toc-modified-id="Ingredient-popularities-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Ingredient popularities</a></span></li></ul></li><li><span><a href="#Les-recipes" data-toc-modified-id="Les-recipes-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Les recipes</a></span><ul class="toc-item"><li><span><a href="#Scored-recipes" data-toc-modified-id="Scored-recipes-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Scored recipes</a></span></li></ul></li></ul></div>

# Recipe book

## Content

Voici le recipe book!

In [1]:
# Import usual modules
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Import recipebook data
from recipebook.data import Data
from recipebook.recipe import Recipe
from recipebook.ingredient import Ingredient

## Dataset global

Reconstituer le dataset global sous forme d'un dictionnaire où les clés sont les noms des tables au singulier (ingredient, recipe, recipe_item) et les valeurs sont les dataframes associées à chacune de ces tables.

In [3]:
df = Data().get_data()
df.keys()

dict_keys(['recipe', 'ingredient', 'recipe_items'])

## Les ingredients

In [5]:
ingredients = df['ingredient']
ingredients.head()

   Id         Nom  Score
0   1      Pattes      1
1   2        beuf      2
2   3      Tomate      3
3   4     Oignon       4
4   5  Champignon      5

In [6]:
recipe_items = df['recipe_items']
recipe_items.head()

   Id  ingredient_id  recipe_id  Quantity     Unit
0   1              1          1        10  Plaques
1   2              2          1       600        g
2   3              3          1       500        g
3   4              4          1         3   Unités
4   5              5          1       200        g

In [7]:
recipe = df['recipe']
recipe.head()

   Id                name cooking_time  Nbr de personne
0   1            lasagnes           1h                4
1   2  Flan de courgettes        45min                6
2   3               Paela           1h                6

### Ingredient popularities

ingredient_popularities est un df avec toutes les séries du dataframe de ingredients auquel vient s'ajouter deux colonnes:

- une colonne specifiant le nombre de fois d'un ingredient est apparu dans une recette
- une colonne specifiant 1 si le nombre est > 1 et sinon 0

In [4]:
ingredient_popularities = Ingredient().get_with_popularities()
ingredient_popularities.head()

   Id         Nom  Score  polularity  is_popular
0   1      Pattes      1           1       False
1   2        beuf      2           1       False
2   3      Tomate      3           2        True
3   4     Oignon       4           2        True
4   5  Champignon      5           1       False

## Les recipes

In [9]:
recipes = df['recipe']
recipes

   Id                name cooking_time  Nbr de personne
0   1            lasagnes           1h                4
1   2  Flan de courgettes        45min                6
2   3               Paela           1h                6

### Scored recipes

scored_recipes est un dataframe contenant deus séries:

- le nom de la recipe
- le score total associé à une recette 

Le score d'une recipe et la moyenne des scores des ingedients qui la compose

In [10]:
scored_recipes = Recipe().get_scored_recipes()
scored_recipes.head()

                 name     score
0            lasagnes  3.600000
1  Flan de courgettes  3.000000
2               Paela  2.571429